@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;600&display=swap');

body {
    font-family: 'Barlow','Noto Sans Thai', sans-serif;
    font-size:400;
}
/*Form Input*/
.form-input,.form-select{
    @apply rounded px-3 py-1
}
.bg-violet-gradient{
    @apply bg-gradient-to-r dark:from-indigo-500 dark:via-indigo-400 dark:to-indigo-500 from-[#035671] to-[#3596B5];
}
.nav-menu {
    @apply flex items-center gap-1 py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:p-0;
}
a.nav-menu{
    @apply fill-white hover:fill-yellow-500 hover:text-yellow-500 dark:hover:fill-white dark:hover:text-white;
}
.nav-menu-m {
    @apply flex items-center gap-1 py-3 pr-4 pl-3 text-white rounded md:bg-transparent  md:p-0 fill-white;
}
.section-content {
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto;
    position: relative;
}
.main-content{
    max-width: 1500px;
    margin: 0 auto;
}
.block-content {
    @apply rounded-lg p-5 relative dark:bg-content-dark bg-content-light;
}

.top-bar {
    @apply flex gap-3 flex-wrap;
}

.wether {
    @apply rounded-lg;
}

.block-env {
    @apply flex flex-col py-2 px-6 dark:text-white text-center rounded-lg w-1/4 items-center;
    width: 150px;
}
.block-comp {
    @apply flex flex-col py-2 px-3 lg:px-6 dark:text-white text-center rounded-lg dark:bg-block-env-dark bg-block-content-light;
    min-width: 137px;
}

.icon-env {
    border-radius: 10px;
    padding: 10px;
    width: 62px;
    height: 62px;
    @apply flex items-center justify-center;
}
.icon-env-main {
    border-radius: 10px;
    padding: 15px;
    width: 128px;
    height: 128px;
    @apply flex items-center justify-center;
}
.icon-env-main2 {
    background: #7A7AFE;
    border-radius: 10px;
    padding: 10px;
    width: 130px;
    height: 130px;
    @apply flex items-center justify-center;
}
.icon-top{
    @apply absolute right-2 top-3
}
.block-layer{
    border-radius: 8px;
    padding: 10px;
}
.list-data-layer{
    max-height: 455px;
    overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
width: 10px;
height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
@apply  dark:bg-scroll-b-dark bg-scroll-b-light;
border-radius: 10px;  
}

/* Handle */
::-webkit-scrollbar-thumb {
@apply dark:bg-scroll-dark bg-scroll-light;
border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}
.list-data-layer li{
    @apply flex justify-between relative dark:bg-dark-op08 border-b-[1px] border-b-gray-400 dark:border-b-slate-600;
    margin-bottom: 10px;
    padding-left: 45px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.cus-checkbox{
        height: 25px;
        width: 25px;
}
.btn-purple{
    @apply text-white rounded-lg px-7 py-2 bg-gradient-to-r dark:from-purple-500 dark:via-purple-500 dark:to-fuchsia-300 from-[#035671] to-[#3596B5];
}
.btn-red{
    @apply text-white rounded-lg px-7 py-2 bg-gradient-to-b from-red-300 via-red-500 to-red-600;
}
.btn-gray{
    @apply  rounded-lg px-7 py-2 bg-gradient-to-r dark:from-gray-300 dark:via-gray-200 dark:to-gray-100 from-[#3596B5] to-[#3596B5];
}
.list-item-covid{
    @apply rounded dark:text-white text-sm dark:bg-covid-item-dark bg-covid-item-light;
}
.status{
    @apply flex items-center gap-1 dark:text-white text-lg;
}
.block-widgets{
    @apply dark:bg-block-widget-dark bg-block-widget-light;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    max-height: 250px;
    height: 240px;
}
.block-widgets-light-gradient{
    @apply bg-gradient-radial from-[rgb(173,219,234,0.5)] to-[rgb(53,150,181,0.5)];
}
.detail{
    @apply flex justify-evenly items-center mt-4;
}
.detail-inner{
    background-color: rgb(255, 255, 255,0.06);
    border-radius: 10px;
    margin: 15px;
}
.detail-covid{
    @apply flex flex-col;
}
.bg-table-head{
    background-color: rgb(255, 255, 255,0.06);
}
.border-table{
    border-bottom: 1px solid rgb(255, 255, 255,0.2);
}
.table-complaint{
    @apply bg-wether-light dark:bg-table-comp-dark;
    border-radius: 10px;
}
.bg-head-table-comp{
    @apply text-white text-sm dark:bg-table-comp-dark bg-nav-light;
}
.bg-body-table-comp{
    background-color: rgb(255, 255, 255);
    @apply text-gray-600 text-sm
}
.bg-head-table-comp tr td{
    @apply text-center p-2 lg:p-5 border-2 dark:border-nav-dark border-wether-light;
}
.bg-body-table-comp tr td{
    @apply text-center p-2 lg:p-5 border-2 dark:border-nav-dark border-wether-light;
}
.bg-footer{
    @apply dark:bg-[#1B2547] bg-[#035671];
}
.circle-stat{
     background:url('@/assets/demo_circle.png') no-repeat;
     background-size: contain;;
}
.bg-purple-gradient{
    background: rgb(82,82,175);
    background: radial-gradient(circle, rgba(82,82,175,1) 0%, rgba(82,82,175,1) 40%, rgba(40,52,101,1) 100%);
}
.btn-blue-gradient{
    @apply bg-gradient-to-b dark:from-blue-500 dark:to-blue-800 from-[#035671] to-[#3596B5];
}
.btn-red-gradient{
@apply bg-gradient-to-b from-red-400 to-red-600
}
.bg-head-table{
    @apply dark:bg-table-comp-dark bg-nav-light;
}
.bg-body-table{
    @apply dark:bg-black-op8 bg-white;
}
.btn-prev,.btn-page,.btn-next{
    @apply rounded-full btn-blue-gradient text-white lg:text-lg font-bold lg:p-3 lg:w-12 lg:h-12 w-10 h-10 text-center;
}
.form-search .form-select,.form-search .form-input{
    @apply h-12 rounded-md
}
.bg-white-op6{
    background:rgb(255, 255, 255,0.06);
}
.bg-black-op8{
    background:rgb(0, 0, 0,0.08);
}
.list-event li{
    @apply flex justify-between;
}
.map {
    width: 100%;
    position: relative !important;
    border-radius: 5px;
}
.result-table thead tr td{
    @apply p-5;
}
.result-table tbody tr td{
    @apply p-3;
}
.chart-theme{
    @apply dark:text-white text-black;
}
.bg-dark-light{
    @apply dark:fill-[#7a7afe] fill-[#035671]
}